<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EVTC_2_CSV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <userSettings>
    <EVTC_2_CSV.Properties.Settings>
      <setting name="WriteHeader" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Arc" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Date" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Build" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Species" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Target" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Time" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Account" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Character" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Profession" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Gear" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DPS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PDPS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CDPS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Might" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Fury" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Quickness" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Alacrity" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EmpowerAllies" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BannerOfStrength" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BannerOfDiscipline" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Spotter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SunSpirit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FrostSpirit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GlyphOfEmpowerment" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GraceOfTheLand" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PinpointDistribution" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AssassinsPresence" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NaturalisticResonance" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Critical" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Scholar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Flank" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Moving" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Dodge" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Swap" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Resurrect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Downed" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Died" serializeAs="String">
        <value>True</value>
      </setting>
    </EVTC_2_CSV.Properties.Settings>
  </userSettings>
</configuration>