<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EVTC_2_CSV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <userSettings>
    <EVTC_2_CSV.Properties.Settings>
      <setting name="WriteHeaders" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WriteBuild" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WriteTarget" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WriteTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WriteAccount" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WriteCharacter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WriteProfession" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WriteGear" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WriteDPS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WriteCritical" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WriteScholar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WriteFlank" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WriteMoving" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WriteDodge" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WriteSwap" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WriteResurrect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WriteDowned" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WriteDied" serializeAs="String">
        <value>True</value>
      </setting>
    </EVTC_2_CSV.Properties.Settings>
  </userSettings>
</configuration>